.ivents-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 570px);
  gap: 30px;
  justify-content: center;
  list-style: none;
  padding: 40px 15px 120px;
  margin: 0;
  width: calc(100% - 30px);
}

@media(max-width: 1200px) {
  .ivents-container {
    grid-template-columns: repeat(auto-fit, 370px);
    padding: 30px 15px 100px;
  }
}

@media(max-width: 770px) {
  .ivents-container {
    grid-template-columns: repeat(auto-fit, 290px);
    padding: 15px 15px 50px;
  }
}