.task__record-container {
  display: grid;
  grid-template-columns: minmax( min-content, max-content) minmax( min-content, max-content);
  align-items: center;
  gap: 15px;
}

@media(max-width:750px) {
  .task__record-container {
    gap: 10px;
  }
}