.account-button {
  width: 30px;
  height: 30px;
  background-color: #ffffff00;
  border: none;
  margin: auto;
  cursor: pointer;
  background-image: url(../../images/header/accaunt-logo.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .account-button {
    display: none;
  }
}