@import url('../../vendor/normalize.css');

@import url('../../vendor/fonts.css');

@import url('../../blocks/body/body.css');
@import url('../../blocks/page/page.css');


/* стили для кнопок */

@import url('../../blocks/btn/btn.css');


/* Стиль для дат */
@import url('../../blocks/date/date.css');


/* Стили для заголовков, текста, кликабельных элементов и подписи */

@import url('../../blocks/page/__title/page__title.css');
@import url('../../blocks/section/__title/section__title.css');

/* Стили для карточек */
@import url('../../blocks/card/card.css');

@import url('../../blocks/ivent-card/ivent-card.css');
@import url('../../blocks/article-card/article-card.css');
@import url('../../blocks/annotation-card/annotation-card.css');
@import url('../../blocks/video-card/video-card.css');
@import url('../../blocks/book-card/book-card.css');
@import url('../../blocks/quot-card/quot-card.css');


@import url('../../blocks/header/header.css');

@import url('../../blocks/footer/footer.css');



.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-ivent-card{
  width: 570px;
}
.section-card {
  width: 420px;
}

.quot-section {
  width: 870px;
}

@media (max-width: 750px) {
  .section-ivent-card{
    width: 290px; 
  }
  .section-card {
    width: 290px;
  }
  .quot-section {
    width: 290px;
  }
}
