.annotation-card {
  padding: 47px 30px 69px;
}
  
.annotation-card__container {
  height: 645px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #E8E6E6 #ffffff00;
  scrollbar-width: thin;
}

.annotation-card__info {
  margin-bottom: 105px;
}

.annotation-card__container::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff00;
}

.annotation-card__container::-webkit-scrollbar-thumb {
  background: #E8E6E6;
  border-radius: 5px;
}

.annotation-card__container::-webkit-scrollbar-thumb:hover {
  background-color: #4e4e4e;
}

@media(max-width: 1440px) {
  .annotation-card__container {
    height: 465px;
  }
}

@media(max-width: 1200px) {

  .annotation-card {
    padding: 30px 15px;
  }

  .annotation-card__info {
    margin-bottom: 5px;
  }

  .annotation-card__text {
    margin-top: 5px;
  }

  .annotation-card__container {
    max-height: 128px;
  }
}