.main {
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, min-content);
  grid-gap: 30px;
  padding: 0 75px;
  box-sizing: border-box;
}

@media (max-width: 1440px) {
  .main {
    padding: 0 135px;
  }
}

@media (max-width: 1200px) {
  .main {
    padding: 0 127px;
  }
}

@media (max-width: 770px) {
  .main {
    padding: 0 15px;
  }
}