.date__day{
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -2px;
  margin: 0;
  text-align: right;
}

@media (max-width: 750px) {
  .date__day {
    font-size: 60px;
    line-height: 60px;
  }
}