.ivents-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media(max-width: 1200px) {
  .ivents-section {
    padding-top: 8px;
  }
}

@media(max-width: 770px) {
  .ivents-section {
    padding-top: 18px;
  }
}