.header {
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  padding: 39px 75px 77px;
  box-sizing: border-box;
}

.header__logo {
  font-family: 'Proto Grotesk Light', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 28px;
  text-decoration: none;
  color: #224CFF;
}

.header__logo:hover {
  color: #2E2468;
}

@media (max-width: 1440px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 135px 77px;
  }
}

@media (max-width: 1350px) {
  .header {
    flex-direction: row-reverse;
    padding: 20px 127px 30px;
  }

  .header__logo {
    font-size: 17.5px;
    line-height: 17px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 10px 15px 10px;
  }
}