.header {
  min-width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 35px 75px 75px;
  box-sizing: border-box;
}

.header__logo {
  width: 183px; 
}

.header__logo:hover {
  content: url(../../images/header/logo-hover.svg)
}

@media (max-width: 1200px) {
  .header {
    flex-direction: row-reverse;
    padding: 30px 117px;
  }

  .header__logo {
    width: 130px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 10px;
  }
}