.menu__link {
  font-family: 'Proto Grotesk Light', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.menu__link:hover {
  color: #2E2468;
}