.organization-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 0;
}

.organization-section__circle {
  width: 570px;
  height: 570px;
  background: #F8D162;
  border-radius: 50%;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
}

@media(max-width: 1400px) {
  .organization-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }

  .organization-section__circle {
    width: 370px;
    height: 370px;
  }
}

@media(max-width: 500px) {
  .organization-section {
    padding: 30px 0;
  }
  
  .organization-section__circle {
    width: 290px;
    height: 290px;
  }
}