.video-card {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.video-card__title {
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 5px;
}

.video-card__info {
  text-align: center;
}

@media (max-width: 1200px) {
  .video-card {
    padding: 15px;
  }

  .video-card__text-wrap {
    padding-bottom: 7%;
  }
}

@media (max-width: 1200px) {
  .video-card {
    border-radius: 0px 0px 30px 30px;
  }

  .video-card__title {
    font-weight: 300;
    font-size: 19px;
    line-height: 23px;
  }

  .video-card__text-wrap {
    padding-bottom: 13%;
  }
}