.mentor-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media (max-width: 1440px) {
  .mentor-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .mentor-section {
    display: block
  }
}
