.faq-card {
  padding: 50px 50px 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

}

.faq-card__title {
  max-width: 730px;
  margin-bottom: 15px;
}

@media (max-width: 1400px) {
  .faq-card {
    padding: 30px 15px;
  }

  .faq-card__title {
    font-size: 19px;
    line-height: 23px;
  }

  .faq-card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 870px) {
  .faq-card:nth-child(3) {
    display: block;
  }
}