.about__title {
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 50px;
    text-align: center;
    max-width: 1170px;
    max-height: 200px;
}
.about__logo {
    max-width: 337px;
    max-height: 65px;
}
.about__circle {
    width: 570px;
    height: 570px;
    background: #F8D162;
    border-radius: 50%;

}
.about__h2 {
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    text-align: center
}