.quot-card {
  align-items: center;
  padding: 120px 100px 30px;
}

.quot-card__title {
  margin-bottom: 70px;
  text-align: center;
}

@media (max-width: 750px) {
  .quot-card {
    padding: 30px 15px 15px;
  }

  .quot-card__title {
    margin-bottom: 65px;
  }
}