.ivent-card {
  padding: 30px;
}

@media(max-width:750px) {
  .ivent-card {
    padding: 30px 15px;
  }
}

.ivent-card__header-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px 30px;
  align-content: start;
}

@media(max-width:750px) {
  .ivent-card__header-container {
    grid-template-columns: minmax( min-content, max-content) max-content;
    gap: 5px 10px;
  }
}

.ivent-card__action-container {
  display: flex;
  justify-content: space-between;
}

.ivent-card__info {
  padding: 10px 0;
  border-bottom: 1px solid #A7A6A6;
}

.ivent-card__info:first-of-type {
  padding-top: 0;
}

.ivent-card__info:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
}

@media(max-width:750px) {
  .ivent-card__info {
    padding: 5px 0;
  }
}

.ivent-card__info-container {
  list-style: none;
  margin: 50px 0 30px;
  padding: 0;
}


.ivent-card__record-container {
  display: grid;
  grid-template-columns: minmax( min-content, max-content) minmax( min-content, max-content);
  align-items: center;
  gap: 15px;
}

@media(max-width:750px) {
  .ivent-card__record-container {
    gap: 10px;
  }
}
