.burger-button {
  display: none;
  align-self: center;
}

@media (max-width: 1200px) {
  .burger-button {
    display: block;
    width: 30px;
    height: 20px;
    background-image: url('../../images/header/logo-burger.png');
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .2s linear .23s;
    border: none;
    padding: 0;
   }
}