.popup-city__container {
  width: 400px;
  padding: 50px 15px;
}

.popup-city__wrap {
  border-bottom: .5px solid #A7A6A6;
  margin-bottom: 10px;
}

.popup-city__title {
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.popup-city__text {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 750px) {
  .popup-city__container {
    width: 320px;
    padding: 30px 15px 57px;
  }
}