.article__link {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #224CFF;
  text-decoration: none;
  transition: color .2s ease .23s;
}

.article__link:hover {
  color: #2E2468
}

.article__link:active {
  color: #000;
}

@media (max-width: 750px) {
  .article__link{
    font-size: 12px;
    line-height: 17px;
  }
}