.card {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.card_theme_light-blue {
  background-color: #C8D1FF;
}

.card_theme_white {
  background-color: #fff;
}

.card_theme_green {
  background-color: #8CDD94;
}

.card_theme_yellow {
  background-color: #F8D162;
}

.card__title {
  display: inline-block;
  cursor: pointer;
  transition: color .2s ease .23s;
  margin: 0;
  font-family: 'Proto Grotesk Light', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
}

.card__title:hover {
  color:#2E2468;
}

.card__title:active {
  color:#224CFF;
}

.card__text {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.card__text_type_center {
  text-align: center;
}

.card__text_place_authorization-popup {
  margin:15px 0;
  max-width: 550px;
}

.card__link {
  font-family: 'Proto Grotesk Light', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #224CFF;
  text-decoration: none;
  transition: color .2s ease .23s;
  cursor: pointer;
}

.card__link:hover {
  color: #2E2468
}

.card__link:active {
  color: #000;
}

.card__info {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  margin: 0;
}

.card__info_hide {
  display: none;
}

.card__info_theme_dark-gray {
  color: #464646
}

.card__info_place_authorization-popup {
  margin-bottom: 30px;
}

.card__rubric {
  font-family: 'Proto Grotesk Light', 'Arial', sans-serif;
  font-style: normal; 
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1px;
  box-sizing: border-box;
  border-radius: 100px;
  color: #464646;
  text-transform: uppercase;
  padding: 2px 7px;
  background-color: #F3F2F2;
  transition: all .2s ease .23s;
}

@media (max-width: 1200px) {
  .card__title {
    font-size: 19px;
    line-height: 23px;
  }

  .card__info {
    font-size: 12px;
    line-height: 17px;
  }

  .card__text {
    font-size: 15px;
    line-height: 21px;
  }


  .card__link {
    font-size: 12px;
    line-height: 17px;
  }
}

@media (max-width: 770px) {
  .card__text_place_ivent-popup {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.2px;
  }
  .card__text_place_authorization-popup {
    margin: 15px 0 5px;
  }
  .card__info_place_authorization-popup {
    margin-top: 10px;
  }
}
