.article-card {
  padding: 15px 30px 30px;
  align-items: center;
}


.article-card__rubric {
  margin-bottom: 10px;
}

.article-card__title {
  text-align: center;
  margin: 5px 0;
  overflow: hidden;
}

.article-card__photo {
  width: 100%;
  margin: 40px 0 15px;
  border-radius: 15px;
  object-fit: cover;
}

.article-card__info {
  margin-bottom: 40px;
}

@media (max-width: 1440px) {
  .article-card__photo {
    margin-top: 70px;
    min-height: 62%;
  }
}

@media (max-width: 1440px) {
  .article-card__photo {
    margin-top: 62px;
  }
}


@media (max-width: 750px) {
  .article-card {
    padding: 15px;
  }

  .article-card__rubric {
    margin-bottom: 0;
  }

  .article-card__title {
    max-height: 70px;
  }
  .article-card__photo {
    margin: 15px 0;
  }

  .article-card__info {
    margin-bottom: 15px;
  }
  
}